* {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.disabled-card {
    opacity: 0.5;
    pointer-events: none;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-price {
    font-size: 1.3rem;
    color: #ff6347;
    font-weight: bold;
}

.badge-discount {
    background-color: #ff6347;
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
}
